@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#section1 {
    width: 100%;
}
#section1 .section .container{
    width: 80%;
    display: block;
    margin:0px auto;
    padding:50px 0px;
}
.container .title{
    width:100%;
    text-align: center;
    margin-bottom: 50px;
}
.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color: #333;
}
.container .title h1::after{
    content: '';
    height: 3px;
    width: 150px;
    background-color: #333;
    border-radius: 25px;
    display:block;
    margin:10px auto;
}
.content{
    float:left;
    width:55%;
}
.image-section{
    float:right;
    width:40%;
}
.image-section img{
    width:100%;
    height: auto;
    height: 330px
}
.content .article h3{
    color:#a3a3a3;
    font-size: 17px;
    line-height: 1.5;
}
.content .article p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
    color:#333;
}
.content .article .button{
    margin-top: 50px;

}
.content .article .button a{
    text-decoration: none;
    padding:8px 25px;
    background-color: #76B947;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.content .article .button a:hover{
    color:#fff;
    background-color: #f9a743;
    transition: 1s ease;
}
.container .social{
    width:100%;
    clear:both;
    margin-top : 50px;
    text-align: center;
    display: inline-block;
}
.container .social i{
    color:#fff;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius:50%;
    line-height: 45px;
    text-align: center;
    background-color: #007bff;
    margin:0px 5px;
}
.container .social i:hover{
    color:#fff;
    background-color: #f9a743;
    transition: 1s ease;
    transform: rotate(360deg)
}
@media screen and (max-width: 768px){
    #section1 .section .container{
        width: 80%;
        display:block;
        margin: auto;
    }
    .content{
        float:none;
        width:100%;
        display:block;
        margin: auto;
    }
    .image-section{
        float:none;
        width:100%;
        margin-top: 50px;
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .container .title h1{
        text-align: center;
        font-size: 30px;
    }
    .container .article .button{
        text-align: center;
    }
    .container .article .button a{
        padding:6px 15px;
        font-size: 16px;
    }
    .container .social i{
        font-size: 19px;
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
}

.team
{
    margin: 75px 0;
}
h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
}
h1:after
{
    content: "";
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}
.profile
{
    margin-top: 25px;
}
.profile .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}
.profile h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}
.profile h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
.img-box:after{
    content: "";
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.img-box ul{
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display:block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    width: 30px;
    height: 30px;
    border: 1px solit #fff;
    border-radius: 50%;
    margin: 3px;
    padding: 7px;
    display: inline-block;
}
.img-box a{
    color: #fff;
}
.img-box:hover:after{
    opacity: 1;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box a:hover li{
    color: #007bff;
    border: 1px solid #007bff;
}
.img-box:after, .img-box ul, .img-box ul li{
    transition: all 0.5s ease-in-out 0s;
}
